{{#if model.inRound}}
<a href="" {{action 'toggleRound'}}><h2>{{model.name}}</h2></a> <button {{action 'deleteBrewer'}}>Delete</button>
{{else}}
<a href="" {{action 'toggleRound'}}>{{model.name}}</a> <button {{action 'deleteBrewer'}}>Delete</button>
{{/if}}